<div class="row setup-content step hiddenStepInfo" id="step-4">
	<div class="col-xs-12">
		<div class="col-md-offset-4 painel tam6 text-center">
			<div class="titulo centralizar-texto">
				<h2>Confirme os dados</h2>
			</div>			
			<div id="conclusao"></div>
		</div>
	</div>
</div>