<div class="row setup-content step hiddenStepInfo" id="step-3">
	<div class="col-xs-12">
		<div class="painel tam6 text-center">
			<div class="titulo centralizar-texto">
				<h2>Preencha os dados</h2>
			</div>
			<div id="formulario"></div>				
		</div>
	</div>
</div>