<div class="row setup-content step hiddenStepInfo" id="step-2">
	
		<div class="painel text-center">
			<div class="titulo centralizar-texto">
				<h2>Selecione a sala e horário de sepultamento</h2>
			</div>
			<div id="matriz"></div>				
		</div>
	
</div>