<div class="row setup-content step hiddenStepInfo" id="step-2">
	<div class="col-xs-12">
		<div class="col-md-12 well text-center">
			<div class="panel-heading title centralizar-texto">
				<h2>Selecione a sala e horário</h2>
			</div>
			<div id="matriz"><span class="glyphicon glyphicon-refresh"></span></div>				
		</div>
	</div>
</div>