	<div class="logo">Cibel</div>
	
			<div class="login">
				<div class="campos-login">
				
				<div class="conteudo-login">
					<%= form_for(:session, url: login_path) do |f| %>
					<ul class="user-password">
						<li>
							<%= f.text_field :rf, class: 'caixa', maxlength: 7, placeholder: ' RF', autofocus: true %>
						</li>
						<li>
							<%= f.password_field :password, placeholder: ' Senha', class: 'caixa' %>
						</li>
						<li>
							<%= f.submit "Acessar", class: "myButton" %>
						</li>
					<ul>
					<% end %>
				</div>
			</div>
			</div>
	</div>
	
