.center {
  text-align: center;
}
.pull-center {
  margin: 0 auto;
  display: block;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.no-margin {
  margin: 0;
}
footer,
.footer {
  padding-top: 80px;
}
.center {
  text-align: center;
}
.pull-center {
  margin: 0 auto;
  display: block;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.no-margin {
  margin: 0;
}
.btn {
  font-weight: 400;
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
  background: #ffffff;
}
.btn:hover {
  background: #e6e6e6;
}
.btn-red,
.btn-blue,
.btn-orange,
.btn-green {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  color: white;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-red:hover,
.btn-blue:hover,
.btn-orange:hover,
.btn-green:hover {
  color: #f2eeeb;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.btn-red {
  background: rgba(226, 52, 59, 0.85);
}
.btn-red:hover {
  background: rgba(199, 28, 35, 0.85);
}
.btn-blue {
  background: #5193e0;
}
.btn-blue:hover {
  background: #2678d8;
}
.btn-orange {
  background: #e79c1b;
}
.btn-orange:hover {
  background: #bb7e14;
}
.btn-green {
  background: #3abf9e;
}
.btn-green:hover {
  background: #2e987e;
}
.btn-toggle {
  display: block;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: rgba(199, 28, 35, 0.85);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
.btn-toggle .icon-bar {
  display: block;
  width: 18px;
  height: 3px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.btn-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
.center {
  text-align: center;
}
.pull-center {
  margin: 0 auto;
  display: block;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.no-margin {
  margin: 0;
}
.navbar-inner {
  background: #B22222;
  border: none;
}
.navbar-inner .container {
  width: auto;
  min-width: 1000px;
}
.navbar {
  z-index: 1000;
}
.navbar .brand {
  margin: 12px auto 12px auto;
  color: white;
  font-weight: 400;
  text-shadow: none;
  text-align: center;
  width: 222px;
  padding: 8px 0;
}
.navbar .nav .active > a {
  background: #bf4737;
  color: white;
}
.navbar .nav .active > a:hover {
  background: #97382c;
  color: white;
}
.navbar .nav > li {
  margin: 12px 6px;
}
.navbar .nav > li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.navbar .nav > li a:hover {
  color: white;
  background: #bf4737;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
  background: #bf4737;
  color: white;
}
.navbar .divider-vertical {
  border-left: 1px solid rgba(60, 51, 52, 0.25);
  border-right: 1px solid rgba(60, 51, 52, 0.08);
}
.navbar .dropdown-menu {
  background: #B22222;
}
.navbar .dropdown-menu a {
  font-weight: 300;
}
.navbar .dropdown-menu .divider {
  border-bottom: 1px solid rgba(60, 51, 52, 0.25);
  background: none;
}
.navbar-search {
  margin-top: 16px;
}
.navbar-search .search-query {
  line-height: 24px;
}
.nav-list {
  padding-left: 15px;
}
.nav-list .active > a {
  background: #f5f5f5;
  color: #3c3334;
}
.nav-list .active > a:hover {
  background: rgba(226, 52, 59, 0.85);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  text-shadow: 0 0 2px black;
}
.nav-list > li {
  padding: 0 15px;
  line-height: 36px;
}
.nav-list > li > a {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  color: white;
  text-shadow: none;
}
.nav-list > li > a:hover {
  background: rgba(226, 52, 59, 0.85);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  text-shadow: 0 0 2px black;
}
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  right: 3px;
}
.dropdown-menu,
.dropdown-menu .divider {
  max-width: 300px;
}
.form-horizontal .control-group {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #eeeeee;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0;
}
.input-append .add-on,
.input-prepend .add-on {
  font-weight: 400;
}
.tooltip {
  font-size: 14px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  margin: 6px 7px 0 -7px;
}
input[type="file"] {
  line-height: 1;
  margin-top: 8px;
}
.alert {
  font-weight: 400;
}
.modal .modal-header {
  background: #B22222);
  color: #f2eeeb;
  display: block;
  margin-bottom: 12px;
  padding: 6px 12px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
}
.modal .modal-header h3 {
  font-size: 16px;
  font-weight: normal;
}
li,
dt,
dd,
blockquote p,
address {
  font-weight: 400;
}
.graph {
  width: 100%;
}
#site-graph,
#signup-graph,
#support-graph,
#big-graph {
  height: 300px;
  width: 100%;
  padding: 0;
  margin: 0;
}
#big-graph {
  height: 184px;
}
.legendLabel {
  font-weight: 300;
}
body {
  background: #3c3334;
  color: #3c3334;
  font-weight: 200;
}
.sans {
  font-family: 'Source Sans Pro', sans-serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
p {
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}
span {
  font-weight: 400;
}
.sidebar {
  padding-top: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 222px;
}
.sidebar .nav {
  position: fixed;
}
.sidebar .nav li {
  width: 180px;
  margin-bottom: 8px;
}
.sidebar .nav li a {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  text-shadow: none;
}
.sidebar .nav li a i {
  margin-right: 6px;
}
.sidebar .toggle {
  padding: 11px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  background-color: #bf4737;
  width: 40px;
  position: fixed;
  left: -48px;
  top: 102px;
  z-index: 1;
}
.sidebar .toggle a {
  margin-right: 4px;
  display: block;
  float: right;
}
.sidebar .toggle a .icon-bar {
  display: block;
  width: 18px;
  height: 3px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.sidebar .toggle a .icon-bar + .icon-bar {
  margin-top: 3px;
}
.sidebar .toggle:hover,
.sidebar .toggle.hover {
  left: -20px;
  background-color: #cf675a;
}
.sidebar .toggle.hidden {
  left: -105px;
}
.page {
  z-index: 0;
  min-width: 1004px;
  background: #f2eeeb;
  -webkit-transition: left 0.25s ease-out;
  -moz-transition: left 0.25s ease-out;
  -o-transition: left 0.25s ease-out;
  transition: left 0.25s ease-out;
  padding-top: 100px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.page.slided {
  left: 222px;
}
.uppercase-stat {
  text-transform: uppercase;
  font-size: 14px;
}
.donut {
  position: relative;
}
.donut canvas {
  width: 100%;
}
.donut .figure {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -10% 0 0 -25%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.stats .left,
.stats .right {
  display: inline-block;
  margin-top: -12px;
}
.stats .left {
  width: 99.00000000000001px;
}
.stats .right {
  width: 81px;
}
.stats canvas {
  margin: 0 auto;
  display: block;
}
.stats .figure {
  text-align: center;
  padding-top: 12px;
}
.stats .figure strong {
  font-size: 30px;
  font-weight: 500;
  display: block;
  margin-bottom: -2px;
}
.stats .figure span {
  text-transform: uppercase;
  font-size: 14px;
}
.panel {
  background: #fcfcfc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 6px #ded4cc;
  -moz-box-shadow: 0 0 6px #ded4cc;
  box-shadow: 0 0 6px #ded4cc;
  margin-bottom: 24px;
}
.panel .title {
  background: #B22222;
  color: #f2eeeb;
  display: block;
  margin-bottom: 12px;
  padding: 6px 12px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
}
.panel .title + table {
  margin-top: -12px;
}
.panel .content {
  padding: 6px 18px 12px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.panel table {
  margin-bottom: 0;
}
.panel table th {
  font-weight: 400;
}
.panel table thead.title {
  color: #f2eeeb;
  background: #B22222;
  display: table-header-group;
}
.panel table thead.title tr th:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.panel table thead.title tr th:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.panel form {
  margin-top: -12px;
  margin-bottom: 0;
}
.panel form label {
  padding-left: 6px;
  font-weight: 400;
}
.panel form .form-actions {
  margin: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border-top: none;
}
table.sortable thead tr th:hover {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background: rgba(255, 255, 255, 0.1);
  background: #e8e1dc;
}
table.sortable thead.title tr th:hover {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background: rgba(255, 255, 255, 0.1);
}
table.center th,
table.center td {
  text-align: center;
}
.people {
  margin-top: -12px;
}
.people .person {
  float: left;
  margin: 6px 0;
}
.people img {
  display: inline-block;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  border-radius: 99px;
  margin: -24px 24px 0;
}
.people .description {
  display: inline-block;
  margin-top: 5px;
}
.people .btn-group {
  margin-top: 10px;
}
.divider {
  height: 1px;
  background: #ded4cc;
}
