<div class="painel col-md-10 col-md-offset-1">
  <div class="titulo">
    <h2>Resultado</h2>
  </div>
  <div class="conteudo-painel">
  	
    <% if resultado and resultado.any? %>
    
	    <table border="1" class="table table-striped">
	      <thead>
	        <tr>
	          <th>Falecido</th>
	          <th>Velório</th>
	          <th>Horário de sepultamento</th>
	          <th>Contratante</th>
	        </tr>
	      </thead>
	      <tbody>
					<% resultado.each do |r| %>
		      	<td><%= r.falecido %></td>
		      	<td><%= r.velorio.nome %></td>
		      	<td><%= r.sepultamento.strftime("%d/%m/%Y %H:%M") %></td>
		      	<td><%= r.municipe %></td>
		      <% end %>
	      </tbody>
	    </table>
    <% else %>
    	<div class="titulo_foot">
    		<h3>Não Encontrado</h3>
  		</div>
    <% end %>
    
  </div>
  <div class="painel-footer">
  </div>
</div>