<br>
<br>
<br>
<br>
<br>
<br>
<%= form_tag pesquisa_path, :remote => true do %>
	<%= label_tag 'Nome', 'Nome' %>
	<%= text_field_tag 'Nome' %>
	<%= submit_tag 'Buscar' %>
<% end %>

<div id="resultado"></div>