<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="inicio">
      <h1 class="help">O que deseja fazer?</h1>
  
      <%= link_to main_path, id: 'nova_reserva', class: "link-div" do %>
        <div class="botao_inicial">
          <i class="fa fa-file-o"></i><br>
          Nova Reserva
        </div>
      <% end %>
      
      <%= link_to pesquisa_path, class: "link-div" do %>
        <div class="botao_inicial">
            <i class="fa fa-search"></i><br>
            Pesquisar
        </div>
      <% end %>
      
      <%= link_to reservas_path, class: "link-div" do %>
        <div class="botao_inicial">
            <i class="fa fa-pie-chart"></i><br>
            Listar Reservas
        </div>
      <% end %>
  
      <% if current_funcionario.adm? %>
        <%= link_to adm_path, class: "link-div" do %>
          <div class="botao_inicial">
              <i class="fa fa-cogs"></i><br>
              Administrar
          </div>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>