<div class="col-md-6 col-md-offset-4">
  <div class="inicio">
    <h1 class="help">O que deseja fazer?</h1>

    <%= link_to main_path, id: 'nova_reserva', class: "link-div" do %>
      <div class="botao_inicial tam2">
        <i class="fa fa-file-o"></i><br>
        Nova Reserva
      </div>
    <% end %>

    <div class="botao_inicial tam2">
      <%= link_to pesquisa_path, class: "link-div" do %>
        <i class="fa fa-search"></i><br>
        Pesquisar
      <% end %>
    </div>
    
    <div class="botao_inicial tam2">
      <%= link_to reservas_path, class: "link-div" do %>
        <i class="fa fa-pie-chart"></i><br>
        Listar Reservas
      <% end %>
    </div>
  </div>
</div>
