<section class="sidebar">
			<ul class="navbar navbar-list">
				<li class="active">
					<a href="">
						<i class="glyphicon glyphicon-dashboard"></i>
						Dashboard
					</a>
				</li>
				<li>
					<a href="type-and-buttons.html">
						<i class="glyphicon glyphicon-pencil"></i>
						Type and buttons
					</a>
				</li>
				<li>
					<a href="forms.html">
						<i class="glyphicon glyphicon-align-justify"></i>
						Forms
					</a>
				</li>
				<li>
					<a href="tables.html">
						<i class="glyphicon glyphicon-table"></i>
						Tables
					</a>
				</li>
				<li>
					<a href="graphs-and-goodies.html">
						<i class="glyphicon glyphicon-bar-chart"></i>
						Graphs and Goodies
					</a>
				</li>
				<li>
					<a href="misc.html">
						<i class="glyphicon glyphicon-cogs"></i>
						Misc and Utilities
					</a>
				</li>
                <li>
                    <a href="docs.html">
                        <i class="glyphicon glyphicon-question-sign"></i>
                        Documentation
                    </a>
                </li>
			</ul>

			<div class="toggle">
				<a>
					<span class="glyphicon glyphicon-bar"></span>
					<span class="glyphicon glyphicon-bar"></span>
					<span class="glyphicon glyphicon-bar"></span>
				</a>
			</div>
</section>
