<div class="inicio">
  
  <h1 class="help">O que deseja fazer?</h1>
  
  <div class="painel tam2">
    <i class="fa fa-file-o"></i><br>
  <%= link_to "Nova reserva", main_path %>
  </div>
  <div class="painel tam2">
    <i class="fa fa-pie-chart"></i><br>
  <%= link_to "Listar reservas", reservas_path %>
  </div>
</div>