<div class="col-md-offset-3">
  
  <div class="painel tam4">
    <i class="fa fa-file-o"></i>
  <%= link_to "Nova reserva", main_path %>
  </div>
  <div class="painel tam4">
    <i class="fa fa-pie-chart"></i>
  <%= link_to "Listar reservas", reservas_path %>
  </div>
</div>