<header>
		<div class="container" style="background: #B22222; height: 50px; width: 100%;">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-4">alguma coisa</div>
						<div class="col-md-4">outra coisa</div>
						<div class="col-md-4">isbrabous</div>
					</div>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>
	</header>
	
	<div class="container">
	
		<div class="row">
			<div class="col-md-4">
				<div class="panel" style=" display:block; border: 1px solid black; margin-top: 12px; margin-bottom: 12px;">
					<div class="panel-heading" style="background: #B22222;">Testes</div>
					<p>shfahushfhasuhufahsufahfuashugushauifausghiapghiausisgfaigfiqfgwihghgqwhgfvqw</p>						
				</div>
			</div>
		</div>	
		
	</div>
	
	<footer></footer>
