<div class="painel col-md-10 col-md-offset-1" style="margin-top: 65px">
  <div class="titulo">
    <h2>Relatório</h2>
  </div>
  <div class="conteudo-painel" id='justificativas'>
    <%= render 'justificativas/justificativas' %>
  </div>
  <div class="cancelar-reserva" style="margin-top: 10px; margin-right: 2.5%;">
    <%= link_to "Voltar", adm_path, class: 'cibelbutton' %>
  </div>
  <div class="painel-footer">
  </div>
</div>
<div class="cancelar-reserva" style="margin-top: 10px; margin-right: 2.5%;">
  <%= link_to "Voltar", root_path, class: 'cibelbutton' %>
</div>