<div class="row">
  <div class="inicio">
    <h1 class="help">Escolha o atendente para editar</h1>
  </div>
</div>
<div class="row">
  <div style="text-align: center; margin-top: 10px;">
    <div class="col-md-4 col-md-offset-4">
      <div class="col-md-10 col-md-offset-1">
        <table class="data_table">
          <thead>
            <th>Nome do Atendente</th>
          </thead>
          <tbody>
          <% @atendentes.each do |a| %>
          <tr>
            <td><% f = a.funcionario %>
            <%= link_to f.nome, edit_funcionario_path(f.id), class: "btn btn-default btn-block", style: "text-overflow: ellipsis;"  %></td>
          </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 100px"></div>

<div class="cancelar-reserva" style="margin-top: 10px; margin-right: 2.5%;">
  <%= link_to "Voltar", adm_path, class: 'cibelbutton' %>
</div>
