<div style="height: 60px;"></div>
<footer class="navbar navbar-fixed-bottom" style="background: rgba(255,255,255,0.4);" role="navigation">
  <div class="rodape">
    <%= link_to logout_path, method: :delete do %>
      <div class="deslogar">
        <i class="fa fa-power-off"></i>
      </div>
    <% end %>
    <span id="link"><%= link_to image_tag("SFMSP_Logo.png", width: "55px", height: "auto", alt: "SFMSP"), 'http://www.prefeitura.sp.gov.br/cidade/secretarias/servicos/servico_funerario/', :target => '_blank' %></span>
  </div>
</footer>
