<footer class="navbar navbar-fixed-bottom" style="margin-left: 20px; margin-bottom: 10px;" role="navigation">
      <span id="link"><%= link_to image_tag("SFMSP_Logo.png", width: "55px", height: "auto", alt: "SFMSP"), 'http://www.prefeitura.sp.gov.br/cidade/secretarias/servicos/servico_funerario/', :target => '_blank' %></span>
</footer>