<% if params[:action] != 'impressao' %>
	<header class="navbar navbar-fixed-top" style="background: rgba(255,255,255,0.6); margin-bottom: 50px;" role="navigation">
	    <div class="rodape">
	      <%= link_to "Sair", logout_path, method: :delete, class: 'sair myButton' %>      
	    </div>
	</header>
<% end %>