<<<<<<< HEAD:app/views/layouts/_header.html.erb
<footer class="navbar navbar-fixed-top" style="background: rgba(255,255,255,0.1); margin-bottom: 50px;" role="navigation">
    <div class="rodape">

      <%= link_to logout_path, method: :delete do %>
        <div class="deslogar">
          <i class="fa fa-power-off"></i>
        </div>
      <% end %>

      
      <div class="prefeitura">
      <span id="link"><%= link_to image_tag("SFMSP_Logo.png", width: "55px", height: "auto", alt: "SFMSP"), 'http://www.prefeitura.sp.gov.br/cidade/secretarias/servicos/servico_funerario/', :target => '_blank' %></span>
      </div>
      
    </div>

=======
<div style="height: 60px;"></div>
<footer class="navbar navbar-fixed-bottom" style="background: rgba(255,255,255,0.4);" role="navigation">
  <div class="rodape">
    <%= link_to logout_path, method: :delete do %>
      <div class="deslogar">
        <i class="fa fa-power-off"></i>
      </div>
    <% end %>
    <span id="link"><%= link_to image_tag("SFMSP_Logo.png", width: "55px", height: "auto", alt: "SFMSP"), 'http://www.prefeitura.sp.gov.br/cidade/secretarias/servicos/servico_funerario/', :target => '_blank' %></span>
  </div>
>>>>>>> c53debd1fd03e41c9641c1cd421245e772d3fd06:app/views/layouts/_footer.html.erb
</footer>
