
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">        
        <h3>Cibel</h3>
        <%= link_to "Sair", logout_path, method: "delete" %> 
      </div>

    </div>
  </nav>