
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">        
        <%= link_to "Cibel", root_url %>
        <%= link_to "Sair", logout_path, method: "delete" %> 
      </div>

    </div>
  </nav>