
    <div class="panel span2">
        <div class="panel-heading title">teste
        </div>    
            <ul>
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    
    <div class="panel span3">
        <div class="panel-heading title">teste
        </div>    
            <ul>
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    
    <div class="panel span4">
        <div class="panel-heading title">teste
        </div>    
            <ul>
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    
    <div class="panel span2">
        <div class="panel-heading title">teste
        </div>    
            <ul>
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    <div class="panel span8">
        <div class="panel-heading title">teste
        </div>    
            <ul>
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    <div class="panel span4">
        <div class="panel-heading title">teste
        </div>    
            <ul>
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
