
     <div class="painel tam2">
        <div class="titulo">teste</div>    
            <ul class="conteudo-painel">
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    
     <div class="painel tam3">
        <div class="titulo">teste</div>    
            <ul class="conteudo-painel">
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    
     <div class="painel tam4">
        <div class="titulo">teste</div>    
            <ul class="conteudo-painel">
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    
     <div class="painel tam2">
        <div class="titulo">teste</div>    
            <ul class="conteudo-painel">
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
     <div class="painel tam8">
        <div class="titulo">teste</div>    
            <ul class="conteudo-painel">
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    <div class="painel tam4">
        <div class="titulo">teste</div>    
            <ul class="conteudo-painel">
                <li>teste</li>
                <li>teste</li>
            </ul>
        
    </div>
    
    <div class="painel tam4">
        <div class="titulo">titulo</div>
        <ul class="conteudo-painel">
            <li>teste</li>
            <li>teste</li>
        </ul>
    </div>
